@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-hcorp1{
    /* global 94%+ browsers support */
    background: linear-gradient(90deg, rgba(33, 150, 243, 1) 0%, rgba(249, 250, 255, 1) 100%);
}

.bg-hcorp2{
    /* global 94%+ browsers support */
    background: linear-gradient(90deg, rgba(33, 150, 243, 1) 0%, rgba(1, 6, 33, 1) 57%);
}

body {
    height: 100vh; 
}

.ql-editor{
    font-size: 1.05rem; 
}

.post-content p {
    margin-bottom: 0.5rem; 
}

.post-content h1 {
    font-size: 1.5rem; 
    font-weight: 600; 
    font-family: sans-serif;
    margin: 1.5rem 0; 
}

.post-content h2 {
    font-size: 1.4rem; 
    font-family: sans-serif; 
    margin: 1.5rem 0; 
}

.post-content a {
    color: rgb(73, 149, 199); 
    text-decoration: none;
}

.post-content a:hover {
    text-decoration: underline;
}

.dark .post-content a {
    color: red; 
}